
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/.idea/
/docker/
/.github
/.dockerignore
/.idea
/.editorconfig

###< symfony/framework-bundle ###
/.gitattributes
/.env
/Dockerfile
/LICENSE
/README.md
/docker-compose.override.yml
/docker-compose.prod.yml
